:host {
    display: block;
    width: 100%;
    min-width: 0;
    color: var(--form-input-text-default);
    font-size: 14px;
    line-height: 1;

    &.focused,
    &.filled {
        color: var(--font-white);
    }

    &.focused {
        .form-field-body {
            border-color: var(--form-input-border-focused);
        }
    }

    &.invalid {
        .form-field-body {
            border-color: var(--form-input-border-error);
        }

        ::ng-deep {
            input {
                &::placeholder {
                    color: var(--form-input-text-error);
                }
            }
        }
    }

    &.disabled {
        color: var(--form-input-text-disabled);
    }

    ::ng-deep {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type='number'] {
            -moz-appearance: textfield;
        }

        input,
        textarea {
            width: 100%;
            height: 100%;
            padding: 0;
            border: 0;
            background: none;
            box-shadow: none;
            outline: 0;

            color: inherit;
            font-size: inherit;
            font-family: var(--font);
            font-weight: 600;
            line-height: 1.2;

            &::placeholder {
                color: var(--form-input-text-placeholder);
                font-size: inherit;
                font-family: var(--font);
                font-weight: 400;
                line-height: 1;
            }

            &:focus::placeholder {
                color: transparent;
            }
        }
    }
}

.form-field-body {
    width: 100%;
    height: 48px;
    border: 1px solid var(--form-input-border-default);
    padding: 8px;
    background: var(--form-input-bg-default);
}

.form-field-label {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    color: var(--font-white);
    font-weight: 600;
    letter-spacing: -0.08px;
    text-align: left;
    line-height: 1;
}
